@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    font-size: 62.5%;
    font-family:'Roboto', sans-serif;;
    font-weight: normal;
    background: #17161b;
    color: #ffffff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul{
    padding-left: 0;
}

ul>li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
}

button,
input{
    outline: none;
    border: none;
    cursor: pointer;
}
.header{
    grid-area: my-header;
}
.aside{
    grid-area: my-aside;
}
.main{
    grid-area: my-main;
}


.grid{
    display: grid;
    gap: 8rem 0;
    grid-template-areas: 
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main"
    ;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
}
.grid-init{
    max-width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem  2.4rem;

}
.header_wrap{
    display: flex;
    align-items: center;
}
.header_logo{
    font-size: 6.4rem;
    margin-right: 7rem;
    font-weight: 700;
    line-height: 117%;
}
.header_nav a{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 117%;
}
.header_nav a:not(:last-child){
    margin-right: 2.5rem;
}
.header_nav{
    margin-right: 9.2rem;
}

.header_find{
    width: 33rem;
    height: 4.1rem;
    border-radius: 0.8rem;
    margin-right: 3.9rem;
}

.header_find input{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08) url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 1.5rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
    padding-right: 4rem;
    background-size: 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
}
.header_find>input::placeholder{
    font-size: 2rem;
    color: #ffffff;

}
.header_date{
    text-align: center;
    margin-right: 8.6rem;
}
.header_hour{
    font-size: 2rem;
    line-height: 23px;
}
.header_days{
    font-size: 1.2rem;
    line-height: 23px;
}
.header_personal{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.main-display_trailer{
    background: url(../img/backTrailer.jpg);
    width:98.5%;
    height: 20.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1.9rem;
    padding-left:1.9rem;
    position: relative;
    padding-bottom: 1.9rem;
}

.main-display_views{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
    
}
.main-display_header{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
}
.main-display_date{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}
.button-play_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_play{
    width: 0;
    height: 0;
    border-top: 1.5rem solid rgba(255, 255, 255, 0.07);
    border-left: 2.5rem solid white;
    border-bottom: 1.5rem solid rgba(255, 255, 255, 0.07);
    border-radius: 2px;
}


.title{
    padding:3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}
.title_left,.title_right{
    display: flex;
    align-items: center;
}
.title_main{
    font-size: 2rem;
    line-height: 115%;
}
.title_count{
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 0.2rem;
}
.title_left{
    font-size: 2rem;
    line-height: 115%;
}
.title_right>span{
    font-size: 1.4rem;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.2);
}
.title_right>img{
    width: 2rem;
    height: 1.6rem;
    margin-left: 0.8rem;
}


.trending_item{
    background-image: url(../img/trendingItem.jpg);
    width: 47%;
    border-radius: 1.6rem;
    display: flex;
    align-items: flex-end;
    height: 251px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.trending , .popular{
    display: flex;
    justify-content: space-between;
    padding-right: 1.6rem;
}

.trending_header{
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
}
.trending_date{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}
.trending_footer,.popular_footer{
    width: 100%;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 1.6rem;
    background: rgba(255, 255, 255, 0.3);
}
.popular_footer{
    background: rgba(255, 255, 255, 0.4);
    padding: .8rem 1.9rem .8rem 6.4rem;
}
.trending_time{
    padding: .4rem 1.3rem;
    background: #ffffff;
    border-radius: 16px;
    font-size: 1.4rem;
    line-height: 114%;
    color: black;
}
.trending_plash{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: .4rem 1.3rem;
}
.small{
    width: 50px;
    height: 50px;
    left: 7%;

}
.button-play_wrap .small .button_play{
    width: 0;
    height: 0;
    border-top: 1rem solid rgba(255, 255, 255, 0.07);
    border-left: 1.5rem solid white;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.07);
    border-radius: 2px;
}
.popular_item{
    background-image: url(../img/popularBack.jpg);
    width: 30%;
    border-radius: 1.6rem;
    display: flex;
    align-items: flex-end;
    height: 192px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.small-plus{
    width: 3rem;
    height: 3rem;
    left: 10%;
}
.button-play_wrap .small-plus .button_play{
    width: 0;
    height: 0;
    border-top: 0.5rem solid rgba(255, 255, 255, 0.07);
    border-left: 0.1rem solid white;
    border-bottom: 0.5rem solid rgba(255, 255, 255, 0.07);
    border-radius: 2px;
}
.popular_header{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}
.popular_date{
    font-weight: 700;
    font-size: .8rem;
    line-height: 9px;
}
.popular_rating{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
}

.aside{
    padding-right: 5.9rem;


}
.aside_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.6rem;
}

.aside_sort{
    display: flex;

}
.aside_sort-img{
    display: flex;
    flex-direction: column;
    margin-left: .4rem;

}
.aside_sort-img img{
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
}
.aside_sort-img img:nth-child(1){
    margin-bottom: .3rem;
}
.aside_header{
    font-size: 2rem;
    line-height: 115%;
}
.aside_sort-text{
    margin-right: 1.5rem;
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.4);
}
.aside_sort-select{
    display: flex;
    align-items: center;
}
.aside_sort-select span{
    font-size: 14px;
    line-height: 114%;
}
.aside_item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22.6rem;
    border-radius: 1.5rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
    background-image: url(../img/batman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aside_item:nth-child(3){
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.aside_views{
    position: relative;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
    z-index: 10;
}
.aside_footer{
    position: relative;
    z-index: 10;
}
.aside_item-name{
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;
}
.aside_item-date{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}
.aside_bottom{
    padding: 2.5rem 0 2rem 2rem;
    background: rgba(255, 255, 255, 0.02);
    
}
.aside_favorite-text{
    margin-bottom:2rem ;
    font-size: 2rem;
    line-height: 115%;
}
.aside_genre-item{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-right: 5rem;
}
.aside_genre{
    font-size: 1.2rem;
    margin-right: 3rem;
    line-height: 117%;
    padding: .5rem 1rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
}
.perple{
    background: #a419db;
}
.orange{
    background: #e1784f;
}
.green{
    background: #63cfe1;
}
.gray{
    background: #2b2a2f;
}

.aside_favourite{
    margin-bottom: 6rem;
}
.aside_add{
    display: flex;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 114%;
}
.aside_add-round{
    width: 1.8rem;
    height: 1.8rem;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b2a2f;
    margin-right: .5rem;
}


@media (max-width : 108em){
    html{
        font-size: 9px;
    }
}


@media (max-width : 105em){
    html{
        font-size: 8.75px;
    }
}


@media (max-width : 91.5em){
    html{
        font-size: 7.9px;
    }
}


@media (max-width : 91em){
    html{
        font-size: 8.4px;
    }
}


@media (max-width : 90em){
    html{
        font-size: 7.9px;
    }
}

@media (max-width : 80em){
    html{
        font-size: 7.2px;
    }
}

@media (max-width : 72em){
    html{
        font-size: 6.5px;
    }
}

@media (max-width : 64em){
    html{
        font-size: 5.5px;
    }
}

@media (max-width : 48em){
    html{
        font-size: 10px;
    }
}

@media (max-width : 44em){
    html{
        font-size: 9px;
    }
}

@media (max-width : 38em){
    html{
        font-size: 8px;
    }
}

@media (max-width : 34em){
    html{
        font-size: 7px;
    }
}

@media (max-width : 30em){
    html{
        font-size: 6px;
    }
}

@media (max-width : 26em){
    html{
        font-size: 4.5px;
    }
}

@media (max-width : 21em){
    html{
        font-size: 4.4px;
    }
}